@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-19 blockquote{
	text-transform: uppercase;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.epub-type-contains-word-z3998-salutation,
.epub-type-contains-word-z3998-signature{
	font-variant: small-caps;
}

.epub-type-contains-word-z3998-salutation + p{
	text-indent: 0;
}

/* All epigraphs */
.epub-type-contains-word-epigraph{
	font-style: italic;
	hyphens: none;
	adobe-text-layout: optimizeSpeed; /* For Nook */
	adobe-hyphenate: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-epub-hyphens: none;
}

.epub-type-contains-word-epigraph cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/* End all epigraphs */

/* Full-page epigraphs */
section.epub-type-contains-word-epigraph{
	text-align: center;
}

section.epub-type-contains-word-epigraph > *{
	display: inline-block;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: left;
}

@supports(display: flex){
	section.epub-type-contains-word-epigraph{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section.epub-type-contains-word-epigraph > *{
		margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	}

	section.epub-type-contains-word-epigraph > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

/* All dedications */
section.epub-type-contains-word-dedication{
	text-align: center;
}

section.epub-type-contains-word-dedication > *{
	display: inline-block;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section.epub-type-contains-word-dedication{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section.epub-type-contains-word-dedication > *{
		margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	}
}
/* End all dedications */