@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.epub-type-contains-word-z3998-letter{
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
}

.epub-type-contains-word-z3998-letter + p,
p.epub-type-contains-word-z3998-salutation,
p.epub-type-contains-word-z3998-salutation + p{
	text-indent: 0;
}

.epub-type-contains-word-z3998-letter header{
	font-style: italic;
	text-align: right;
}

p.epub-type-contains-word-z3998-salutation,
p.epub-type-contains-word-z3998-valediction{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.epub-type-contains-word-z3998-signature{
	font-variant: small-caps;
}