@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Verse */
.epub-type-contains-word-z3998-verse p{
	text-align: left;
	text-indent: 0;
}

.epub-type-contains-word-z3998-verse p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

/* Centered dedications */
section.epub-type-contains-word-dedication{
	text-align: center;
}

section.epub-type-contains-word-dedication > *{
	display: inline-block;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section.epub-type-contains-word-dedication{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section.epub-type-contains-word-dedication > *{
		margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	}
}